@use "../../scss/" as *;

.banner {
  position: fixed;
  height: 60vh;
  width: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.content-wrap {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: column-reverse;
  }
}

.selector {
  width: 100%;
}

.detail {
  margin-top: 7rem;
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  position: relative;

  @include mobile {
    margin-top: 0;
  }

  .movie-poster {
    flex: 1;

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      padding-top: 150%;

      @include tablet {
        padding-top: 180%;
      }
    }

    @include mobile {
      display: none;
    }
  }

  .movie-info {
    width: 60%;
    padding-left: 2rem;

    @include mobile {
      width: 100%;
    }

    &__title {
      & > h1 {
        font-size: 3rem;

        @include tablet {
          font-size: 2rem;
        }
      }
    }

    &__genres {
      @include flex(flex-start, flex-start);
      margin-top: 1.5rem;

      .genres-box {
        border: 1.5px solid $white;
        border-radius: 2rem;
        @include flex(center, center);
        padding: 0.3rem 1rem;
        margin-right: 0.5rem;
      }
    }

    &__description,
    &__casts,
    &__duration,
    &__country,
    &__core,
    &__release {
      margin-top: 1rem;

      & > span, .casts > span {
        font-weight: 500;
      }
    }
  }
}

.video-box {
  width: 100%;
  height: 80vh;
  position: relative;
  margin-top: 50px;

  @include mobile {
    margin-top: 12vh;
    height: 30vh;
  }
}
