@use "../../scss/" as *;

.movie-cart-box {
  margin-bottom: 3rem;
}

.category {
  padding-top: 120px;

  &__header {
    // @include flex(center, space-between);
    padding-bottom: 2rem;
  }

  &__movies-list {
    width: 100%;
    // @include flex(center, space-between);
    // flex-wrap: wrap;

    // &::after {
    //   content: "";
    //   flex: auto;
    // }
    display: grid;
    grid-template-columns: repeat(auto-fill, $width-laptop);
    grid-gap: 1rem;
    justify-content: space-between;

    @include tablet {
      grid-template-columns: repeat(auto-fill, $width-tablet);
    }

    @include mobile {
      grid-template-columns: repeat(auto-fill, $width-mobile);
    }
  }

  &__load-more {
    @include flex(center, center);
  }
}

.not-found {
  @include flex(flex-start, center);
  margin-top: 2rem;
  height: 60vh;
}
