$body-bg: #0f0f0f;
$main-color: #3e98c7;
$txt-color: #fff;
$txt-color-secondary: #7e8287;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;

$width-laptop: 250px;
$width-tablet: 200px;
$width-mobile: 80px;

$height-laptop: 360px;
$height-tablet: 280px;
$height-mobile: 120px;